@page
@model J94013.Pages.Menus.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Menu.ID" />
            <div class="form-group">
                <label asp-for="Menu.Name" class="control-label"></label>
                <input asp-for="Menu.Name" class="form-control" />
                <span asp-validation-for="Menu.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Cartegory" class="control-label"></label>
                <input asp-for="Menu.Cartegory" class="form-control" />
                <span asp-validation-for="Menu.Cartegory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.CreatedDate" class="control-label"></label>
                <input asp-for="Menu.CreatedDate" class="form-control" />
                <span asp-validation-for="Menu.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Description" class="control-label"></label>
                <input asp-for="Menu.Description" class="form-control" />
                <span asp-validation-for="Menu.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Price" class="control-label"></label>
                <input asp-for="Menu.Price" class="form-control" />
                <span asp-validation-for="Menu.Price" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Menu.ImageFile" class="control-label"></label>
                <input asp-for="Menu.ImageFile" class="form-control" />
                <span asp-validation-for="Menu.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
