@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = "_Layout";

}
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Blaka Hollow' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Are You Serious' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Astloch' rel='stylesheet'>


<body>

    <section class="cartegories">

        <h2 class="cartegories_h1">
            Our Categories
        </h2>
        <div class="shop-items">
            <div class="shop-item">
                <div>
                        <img class="shop-item-img" src="~/images/maxresdefault.jpg" alt="Starters">
                </div>
                <div>
                    <h4 class="shop-item-title">Starters</h4>
                </div>
            </div>
            
            <div class="shop-item">
                <div>
                        <img class="shop-item-img" src="~/images/soup.jpg" alt="Soups">
                </div>
                <div>
                    <h4 class="shop-item-title">Soup Dishes</h4>
                </div>
            </div>
            <div class="shop-item">
                <div>
                        <img class="shop-item-img" src="~/images/15925106055eebc88d7fdd7.jpg" alt="Rice">
                </div>
                <div>
                    <h4 class="shop-item-title">Rice Dishes</h4>
                </div>
            </div>
            <div class="shop-item">
                <div>
                        <img class="shop-item-img" src="~/images/plan.jpeg" alt="Sides">
                </div>
                <div>
                    <h4 class="shop-item-title">Sides</h4>
                </div>
            </div>
            <div class="shop-item">
                <div>
                        <img class="shop-item-img" src="~/images/chicken.jpg" alt="Protein">
                </div>
                <div>
                    <h4 class="shop-item-title">Grills</h4>
                </div>
            </div>
        </div>


    </section>
    <section class="about-feat">
        <div>
            <div class="heading_container">
                <h2>
                    About OFAD
                </h2>
            </div>
            <p>
                Enjoy yourself in the newly opened restaurant. OFAD restuarant is one of the best Nigeria restuarant, Preparing dishes from the diverse culture of Nigeria,  OFAD brings you a real taste of the country and a unique twist to some of your favorite dishes. Whether you're in for a day out with the family, food orders, or some tasty cocktails, this is the place for you! Serving food from 11 am

                <a href="">
                    Read More
                </a>
                <div class="heading_container">
                    <h2>
                        Features
                    </h2>
                </div>
            <p>
                Outdoor Seating, Seating, Highchairs Available, Wheelchair Accessible, Serves Alcohol, Full Bar, Accepts Mastercard, Accepts Visa, Free Wifi, Reservations, Accepts Credit Cards, Table Service
            </p>
        </div>
    </section>
    <section class="book_section layout_padding">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" enctype="multipart/form-data" class="contain_f">
                        <div class="container">
                            <h1 class="heading_bk">Book A Table</h1>
                            <p>Please fill in this form to book a table.</p>
                            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                            <label asp-for="Booking.Name" class="control-label"></label>
                            <input asp-for="Booking.Name" class="form-control" />
                            <span asp-validation-for="Booking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label asp-for="Booking.PhoneNo" class="control-label"></label>
                            <input asp-for="Booking.PhoneNo" type="number" class="form-control" />
                            <span asp-validation-for="Booking.PhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label asp-for="Booking.Email" class="control-label"></label>
                            <input asp-for="Booking.Email" class="form-control" />
                            <span asp-validation-for="Booking.Email" class="text-danger"></span>
            </div>
                            <div class="form-group">
                                <label asp-for="Booking.BookingDate" class="control-label"></label>
                                <input asp-for="Booking.BookingDate" class="form-control" />
                                <span asp-validation-for="Booking.BookingDate" class="text-danger"></span>
                            </div>
                        <div class="form-group">
                                <input type="submit" value="Book" class="btn btn-primary" />
                        </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>

                    <script>
                        function myMap() {
                            var mapProp = {
                                center: new google.maps.LatLng(51.508742, -0.120850),
                                zoom: 5,
                            };
                            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                        }
                    </script>

                    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
                </div>
            </div>
        </div>


    </section>
    <!-- end book section -->
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->

</body>